/* body{
    color: rgb(54, 54, 185);
} */

.panel_control_entrenador{
    border: 1px solid red;
    width: 40%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom:10%;
    box-sizing: border-box;
    text-align: center;
    
}

.panel_control {
    border: 1px solid;
    width: 90%;
    margin: 3%;
    box-sizing: border-box;
    text-align: center;

}

.btn_panel{
    background-color: rgb(150, 219, 238);
    padding: 0.5em;
    text-align: center;
    
    width:auto;
} 


.btn_panel input{
    position: relative;
    margin: 1%;
    width: 100%;
    padding: 1%;
} 
