.carousel-container {
    position: relative;
    margin: 20px auto 10px;
    max-width: 66.8%;
}

.slides {display: none;}

.slides img {
    width: 100%;
    max-height: 500px;
}

.dots {text-align: center;}

.prev,
.next {
    border: solid 1px lightcyan;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 15px;
    color: cyan;
    font-weight: bold;
    font-size: 18px;
    transition: 0.1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {right: 0;}

.prev:hover,
.next:hover {background-color: rgba(255, 255, 255, 0.8);}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
}

.dot-active,
.dot:hover {background-color: #717171;}

/* Fade animation */
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.fade {
    animation-name: fade;
    animation-duration: 3.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
}